.sidebar.branding
  .blurb
    %span.intro Speclace,
    a necklace to hold your glasses.
  = link_to image_tag('content/branded-speclace.png'), '/assets/content/branded-speclace.png', target: '_blank', alt: 'glasses chain a stylish necklace to hold your glasses'
