%h4
  %strong A Speclace is a personal and thoughtful gift!
%ul
  %li For friends or relatives who wear glasses
  %li A personal gift for those who love unique handcrafted necklaces.
  %li A thoughtful Christmas or birthday gift for mums or grandmas who wear glasses.
  %li A gift for a friend or relative who may be embarking on the holiday of a lifetime.
  %li A special 'End of year' or 'Thank you' present for teachers or principals who wear glasses.
  %li A special and unique gift for a 50th, 60th, 70th, 80th birthday present.
  %li A thoughtful and personal gift for a work colleague who wears glasses.
