.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    About Us
  %p
    = image_tag 'content/mumloz.jpg', alt: 'Christine and Lauren', style: 'height: 225px; width: 225px; float: left; margin-right: 7px; margin-left: 0px;'
    Speclace is an online jewellery store, founded in Melbourne, Australia. The story of Speclace begins in the Spring of 2012. After months of misplacing glasses, having them fall off my head or searching through my handbag for my glasses to read the menu in restaurants, I knew it was time to buy a
    %strong glasses chain
    \.
  %p
    The only available option were the old fashioned
    %strong glasses chains
    with the 'figure 8' loop available in the optical stores. There was no known alternative in the retail stores. So my mind went into 'overdrive' and one day about eighteen months ago, I had a 'light bulb' moment.
  %p
    %em Why not design a stylish necklace with a ring at a centre drop, that glasses could be placed on?"
  %p
    This would have the added benefit of not only being a
    %strong glasses holder,
    but a
    %strong stylish necklace
    with the option to have glasses held securely and within easy reach. A Speclace could be a useful necklace to wear to work and worn as a stylish necklace when going out with friends or colleagues after work. 
  %p
    After much thought and creative brainstorming, my eldest daughter Lauren proposed the name Speclace. We realised that Speclace was the perfect name for our innovative products. The 'Spec' from the first part of Spectacles, and the 'lace' from the last part of Necklace. Speclace ~ A necklace to hold your glasses!
  %h2
    Speclace's Collection
  %p
    Our Boutique Range features handcrafted lampwork beads sourced from Venice, London, Bohemia and the United States. These speclaces are exclusive, unique and in limited quantity. Each bead is individually handcrafted by our skilled artisans, who have spent years mastering the skill of lampworking.
  %h3
    %strong It's more than a necklace, it's a Speclace!
  %h2
    New Products
  %p
    = image_tag 'content/aqua-and-orange-aboutus.jpg', style: 'height: 150px; width: 150px; float: left; margin-right: 5px; margin-left: 5px;'
  %p Speclace will be introducing Spec I.D's for women in the workplace. They are slightly longer in length than our Speclaces, and are designed as a stylish alternative to current lanyard cords. The swivel clasp for name badges or swipe cards are detachable, so women can wear them to as a work lanyard or a lovely necklace if going out with friends or colleagues after work.
