.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Speclace Copyright ©
  %p Reproduction, distribution, republication, and/or retransmission of material contained within this website are prohibited unless the prior written permission of Specklace© has been obtained.
  %p The contents of this site are protected by copyright under international conventions and, apart from the permission stated, the reproduction, permanent storage, or retransmission of the contents of this site is prohibited without the prior written consent of Christine or Lauren. You are welcome to email us to request photos, links or any other information.
  %p
    Please
    = link_to 'Contact Us', contact_us_path
    to request any usage of our content or images.
  %p Thank-you, Christine and Lauren
