.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Internet Security
  %p Speclace is a Verified Paypal user. This Verified Status indicates that we have passed all of Paypal's Security checks. We chose Paypal as our shopping cart option, as Paypal is renowned to be one of the safest payment services in the world and is used by millions of people worldwide.
     %ul.bullet
	%li
	Paypal will not give your credit card, bank details, or any financial information to the seller or any other third parties.
	%li
	Paypal uses SSL (highest level- 168 bit) encryption to protect your financial and private information.
	%li
	Paypal uses credit card security code checks, as well as state-of-the-art credit card verification systems to thwart identity theft.