.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Lampwork Beads
  %p 
    Lampwork beads are beautiful glass blown beads, created by melting colourful glass rods around a mandrel. These beads are simply exquisite because of the amount of care that goes into their creation. The nature of lampwork beadmaking is that each bead is individually handcrafted. No two beads are ever the same.
  %p 
    %em Original designs are exclusive, limited only by the jewellery artists’ imagination.
  %p
    = image_tag 'lampwork-beaded-jewelry-2.jpg', alt: 'Lampwork Beads by artisan Lydia Muell', style: 'height: 160px; width: 344px; float: left; margin-right: 7px; margin-left: 0px;'  	
  %p
    Compliments of artisan Lydia Muell (Lampworktreasures.com)
  %p
    It's important to buy beads from a reputable artist. Mass-produced cheap glass beads often crack and can release dangerous glass chemicals. Support the efforts of local lamp workers to continue the creation of quality beads.
  %p
    Traditionally, glass beads were formed by melting hot glass canes with a gas lamp. Nowadays glassblowing is performed using a small torch, rather than a gas lamp. Lampworking first started in the Czech Republic and continued to Italy to result in the popular.
  %p
    Today, glass beads are made from glass rods that become fragile and pliable once heated. Italian Effetre and Vetrofond glass are commonly used for their tensile strength.
  %p
    Narrow rods of glass are slowly introduced under the flame tip of a gas burner torch and heated until molten. The liquid-like glass is wound around a thin, stainless steel mandrel. The mandrel size determines the size of the hole through the bead.
  %p
    = image_tag 'lampwork-beaded-jewelry-4.jpg', alt: 'Lampwork Beads by artisan Lydia Muell', style: 'height: 163px; width: 160px; float: left; margin-right: 7px; margin-left: 0px;'  
  %p
    Compliments of artisan Lydia Muell (Lampworktreasures.com)
  %p 
    The glass beads can be decorated with glass dots or raised metallic bumps. Glass flowers encased with clear glass create a Millefiori pattern (Italian for a thousand flowers). Quality Beads are slowly cooled and annealed within a kiln for 5-6 hours. This process prevents cracking and shattering later.
  %p
    The costs involved for initial equipment set-up is quite expensive. Training can also be very labour intensive. It takes years to practice and perfect the technique of lampworking. For this reason, lampwork beads are more expensive than regular beads. Although you’ll agree that the original beauty in these glass beads is unparalleled.