.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    How do I pay for my order?
  %p We gladly accept Visa and MasterCard, or regular account payments all through PayPal. Speclace uses PayPal for payments because PayPal automatically encrypts your confidential information using the Secure Sockets Layer protocol (SSL). The encryption key length of 128-bits (the highest level commercially available) ensures that Paypal is safest payment services in the world, used by millions of people worldwide.
  %h3
    %strong Do I need a PayPal account to purchase from this store?
  %p No, you are not required to have a PayPal account to purchase from this store. Although if you already have a PayPal account you may use it.