.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Postage and Shipping
  
  %h3 FLAT RATE Shipping Australia Wide
  %p 
    Postage is only 
    %strong AUD $3.95 
    Australia Wide regardless of the number of items ordered! FREE shipping for all orders over $60.
  %p 
    We use Regular Post anywhere in Australia. For your security, all parcels have a DO NOT SAFE DROP sticker on it. This means that if no one is home to collect your parcel, a card is left in the letterbox notifying you of the nearest Australia post outlet for collection. This is to ensure your parcel isn't stolen, when you are not home.
  %p 
    If you would like your parcel to be delivered to your work address, or another address, please let us know via the contact us link.
  %ul.bullet
    %li
      All parcels sent, are lodged over the counter at an Australia Post Outlet. If no one is home at the time of delivery, a card will be left in your post box.
    %li
      When you are ready to collect your parcel, simply take your card and some form of identification along to the specified post office to collect your parcel.
    %li
      We use padded post bags for protection and endeavour to send all items within 1-2 days of cleared payment.
    %li
      If per chance there is a problem with delivery, Australia Post can be contacted on 13 76 78.
    %li
      If you require
      %strong Express Post
      or
      %strong Registered Post
      please Contact Us for extra postage charge.
  %p
    Shipping in metropolitan areas of capital cities (see below for locations) is usually delivered by Australia Post within 1-2 business days. Shipping in non metropolitan areas and country regions is usually delivered by Australia Post, within 2-3 business days.