.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Privacy Policy
  %p 
    Speclace is committed to protecting the privacy of our site visitors and our customers. We respect your right to that privacy and will not disclose information to third parties except where it is part of providing a service to you - e.g. arranging a product to be sent to you. The Speclace checkout process uses PayPal, one of the most accepted and trusted payment solutions on the web. Speclace will not see any of your financial information.
  %p 
    Your Consent - By using our site you consent to our privacy policy. We will not sell your name, address, email address or personal information to any third party without your permission. This Privacy Policy (“Privacy Policy” or “Policy”) covers the use of the website located at www.speclace.com.au and the services provided by Speclace, including personal information that we receive. This Policy does not apply to the practices of third parties that Speclace does not own or control, or individuals that we do not employ or manage.
  %p
    Speclace uses Google Adwords tracking technology to maintain, protect and improve communication to customers interested in stylish ways to hold their glasses.