.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Refund Policy
  %p
    We are confident that you will be delighted when receiving your new speclace. However, if you are not 100% satisfied, rest assured that you have a 100% full replacement guarantee. Contact Us within 30 days of your purchase and we will send you a replacement or exchange your speclace for another item of equal value.
  %p
    = link_to 'Contact us', contact_us_path
    or call Christine on
    = link_to '0416 737 316', 'tel:+61416737316'
    \.
