.sidebars
  = render partial: 'sidebar/customer_care'
.content
  %h1.title
    Terms and Conditions
  %p 
    The colour of photographs may vary from monitor to monitor, depending on the settings on each computer. This is completely beyond our control. We have endeavoured to describe the colours of our jewellery pieces as best we can. However if in doubt, please Contact Us with your queries.
  %p 
    Speclace provides this website as a service for those that love jewellery. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this website is complete and always up-to-date. Some links within this website may lead to other websites, including those operated and maintained by third parties.
  %p 
    Speclace, speclace.com.au includes these links solely as a convenience to you, and the presence of such a link does not imply a responsibility for the linked site or an endorsement of the linked site, its operator, or its contents.
  %p 
    This website and its contents are provided AS IS without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.