.cart {
  position: absolute;
  top: -8px;
  right: 0;
  border-radius: 10px;
  padding: 20px;
  background-color: #eee;
  font-size: 87.5%;

  .count, .total {
    text-align: center;
    padding-bottom: 12px;
  }

  .count {
    width: 35%;
    float: left;
  }

  .total {
    width: 60%;
    float: right;

    label {
      font-weight: bold;
      padding-right: 2px;
    }
  }

  ul {
    padding: 0 10px;

    li {
      display: inline;
    }
    li + li:before {
      content: '|';
      padding: 0 10px;
    }
  }

  a {
    color: #000;
  }
}

hr {
  text-align: right;

}

.actions {
  text-align: right;
  margin: 20px 0;

  a {
    float: left;
    margin: 7px;
    color: $button-color;
  }
}

.paypal {
  clear: both;
  float: right;
  text-align: center;

  span {
    display: block;
    margin-bottom: 10px;
  }
}

.checkout-steps {
  padding: 0.67em 0;
}

.cart-contents {
  width: 100%;
  margin: 10px 0;

  .subtotal {
    font-weight: bold;
    text-align: right;

    span {
      display: block;
    }
  }

  tr th, tr td {
    padding: 4px 8px;
     font-size: 85%;
  }

  th {
    white-space: nowrap;
    color: #000;
    background-color: $cart-table-header-color;
    border: 1px solid #fff;
    padding: 10px;
  }

  th.product_name {
  text-align: left;
  }


  td {
    border: 1px solid #eee;

    &.thumb, &.remove, &.quantity {
      text-align: center;
    }

    &.description {
      width: 100%;
    }

    &.quantity input {
      width: 40px;
      height: 20px;
    }

    &.remove input {
      background-color: #f6f6f2;
      color: #666;
      padding: 8px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: 0 1px 0 #e8e8e8;
      -webkit-box-shadow: 0 1px 0 #e8e8e8;
      box-shadow: 0 1px 0 #e8e8e8;
      border: 0px outset buttonface;
      font-size: x-small;

      &:hover {
        background-color: #666;
        color: #fff;
      }
    }
  }
}
