.cart {
  position: absolute;
  top: -8px;
  right: 0;
  border-radius: 10px;
  padding: 20px;
  background-color: #eee;
  font-size: 87.5%;

  .count, .total {
    text-align: center;
    padding-bottom: 12px;
  }

  .count {
    width: 35%;
    float: left;
  }

  .total {
    width: 60%;
    float: right;

    label {
      font-weight: bold;
      padding-right: 2px;
    }
  }

  ul {
    padding: 0 10px;

    li {
      display: inline;
    }
    li + li:before {
      content: '|';
      padding: 0 10px;
    }
  }

  a {
    color: #000;
  }
}
