$text-color: #555;
$brand-dark-color: #00a0b6;
$brand-light-color: #80d5da;

$button-color: #00abb5;
$button-hover-color: rgba(0,171,181,.6);

$button-background-color: #00abb5;
$button-background-gradient-color: #009bba;
$button-shadow-color: #999;

$footer-background-color: #f6f6f2;
$footer-text-color: black;

$nav-highlight-color: #f7f7f7;

$product-link-color: #008eb9;
$product-link-hover-color: #00abb5;

$zoom-indicator-color: rgba(0, 112, 179, 0.45);

$cart-table-header-color: #73c8cd;
