.sidebars
  = render partial: 'sidebar/product_filters'
.content
  %h1.title
    All Speclaces
  .product-tiles
    - @products.each do |product|
      = render partial: 'product_tile', locals: {product: product}
