.cart
  .count= pluralize @cart_item_count, 'Item'
  .total
    %label Total:
    = price_for @cart_total
  %ul
    %li= link_to 'View Cart', cart_path
    %li= link_to 'Checkout Securely', checkout_cart_path
